body {
    background-color: black;
    margin: 0;
    padding: 0;
    line-height: 1cm;
}


#header {
    background-color: black;
    height: 250px;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 10px;
    padding-right: 70px;
    opacity: 0.9;
}

img:hover {
    opacity: 1.0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: black;
}

li {
    float: left;
    border-right: 2px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: aqua;

}

.active {
    background-color: blueviolet;
}
.innertext{
    color: beige;
    margin: 20px;
}
#content{
    float: left;
    width: 100%;
}
#maincontent{
    margin: 0 230px 0 230px; padding: 10px;
}
#left{float: left;
    width: 230px;
    margin-left: -100%;
    background-color: blueviolet; 
    border-radius: 10px;
    

}
#right{float: left;
    width: 230px;
    margin-left: -230px;
    background-color: blueviolet;
    border-radius: 10px;
    
}
.procon{
    
    color: aqua;
}
h3{ color:black;
font-size:30px;

}
#footer{clear: left;
    width: 100%;
    background-color: chocolate;
    text-align: center;
    padding: 5px;
 }
 #yo{
    font-weight: 900;
    
 }
 a{ color:rgba(31, 228, 41, 0.575) ;
  }
  a:hover{ color: blueviolet;}
  a:active{color: aqua;}